* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quantico', sans-serif;
}

.navbar {
	background-color: #333;
	z-index: 1;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	justify-content: center;
}

#navbar-link a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	padding-right: 20px;
	padding-left: 20px;
}

#navbar-link a:hover {
	background-color: #ddd;
	color: black;
}

#navbar-link a.active {
	background-color: #0f0f0f;
	color: #fff;
}

#landing {
	height: 90vh;
	align-items: left;
	background-color: #6DCCDE;
	color: #0d0d0d;
	background-image: url("../images/main-img.jpg");
	background-size: cover;
	background-position: center center;
}

#landing-container {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	background-color: black;
	opacity: 0.70;
	padding-bottom: 20px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

#landing-container h1 {
	font-size: 60px;
}

#landing-intro {
	font-size: 15px;
}

#nav-h1 {
	padding-top: 25px;
	padding-bottom: 25px;
}


#profile-page {
	background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	align-items: center;
	align-content: center;
}

#contain img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

/*----*/
/*These are the icons used on the footer section. */
.footer {
	margin-top: 10px;
	border-top: 10px solid #333333;
	line-height: inherit;
	text-align: center;	
	font-size: 15px;
}

.footer-icons {
	list-style: none;
	padding-bottom: 1px;
	font-size: 25px;
	padding-top: 1px;
}

.footer-icons a {
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%; 
}

#yt-icon {
	color: red;
}

#yt-icon:hover {
	color: #660000;
}

#twitch-icon {
	color: #6441a5;
}

#twitch-icon:hover {
	color: #38245b;
}

#linkedin-icon {
	color: #0e76a8;
}

#linkedin-icon:hover {
	color: #08435e;
}

#ig-icon {
	color: #E1306C;
}

#ig-icon:hover {
	color: #9c1643;
}

#twt-icon {
	color: #1DA1F2;
}

#twt-icon:hover {
	color: #085c91;
}